* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background-color: #123;
}
body {
  margin: 0;
}
.flex-separator {
  -ms-flex: 1;
      flex: 1;
}
.start {
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.title-header {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  padding: 50px 0px 70px;
  -ms-flex: 1;
      flex: 1;
}
.title-header .logo {
  padding: 30px 20px 0px;
  font-size: 0;
}
.title-header .logo img {
  width: 140px;
}
.title-header .name {
  margin: 0px auto;
  padding: 20px 20px;
  max-width: 640px;
}
.title-header .name h1,
.title-header .name h2,
.title-header .name p {
  margin: 0;
  padding: 0;
}
.title-header .name h1 {
  color: #234;
  font-size: 2.2em;
  font-family: Lato, Helvetica, sans-serif;
}
.title-header .name h1 a {
  text-decoration: none;
  color: inherit;
}
.title-header .name h2 {
  font-size: 1em;
  font-weight: normal;
  font-family: Lato, Helvetica, sans-serif;
  color: #678;
  padding-bottom: 2em;
}
.title-header .name p {
  color: #456;
  font-size: 1.2em;
  padding-bottom: 1em;
}
.title-header .links a {
  display: inline-block;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  -ms-flex: 1;
      flex: 1;
  color: #555;
  font-size: 1em;
}
.title-header .links a:hover {
  color: #08f;
}
.title-header .links a:first-child {
  border-left: none;
}
.title-header .links a:last-child {
  border-right: none;
}
.container {
  width: 100%;
  overflow: hidden;
}
section {
  padding: 20px;
}
.about-me {
  background-color: #F6F8FF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0px 0px 40px;
  padding: 30px 20px;
  overflow: hidden;
}
.about-me .somehow-comet {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: -480px;
  opacity: 0.1;
}
.about-me-inner {
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  max-width: 960px;
  margin: 0px auto;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.about-me-inner h2 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 2em;
  margin: 0px;
  color: #123;
}
.about-me-inner p {
  margin: 0;
  padding: 0.5em 0;
  color: #234;
  font-size: 1.2em;
}
.about-me-inner .stuffs {
  max-width: 640px;
  position: relative;
}
.about-me-inner .buttons a {
  display: inline-block;
  padding: 3px 0px;
  text-decoration: none;
  border-bottom: 2px solid #A2B7FF;
  color: #567cff;
  transition: all 0.25s linear;
}
.about-me-inner .buttons a:hover {
  color: #0941ff;
  border-color: #2254ff;
}
.open-source {
  background: linear-gradient(45deg, #0044dd 0%, #2989d8 50%, #2989d8 50%, #0044ff 100%);
  box-shadow: 0 0 5px #123;
  padding: 40px 20px;
  margin: 20px 10px;
  border-radius: 100% 200px;
  text-align: center;
}
.open-source h2 {
  color: #fff;
  font-size: 2em;
  font-family: Lato, Helvetica, sans-serif;
  text-align: center;
}
.open-source .show-more-less-btn {
  display: inline-block;
  margin: 15px auto;
  padding: 0px 15px;
  border-radius: 15px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 2px solid #fff;
}
.open-source .show-more-less-btn:hover {
  background-color: #fff;
  color: #123;
}
.projects {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-positive: 3;
      flex-grow: 3;
  text-align: center;
  border-radius: 2px;
}
.projects--hiding {
  overflow: hidden;
  height: 170px;
}
.project {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  min-width: 240px;
  transition: all 0.15s ease-out;
  top: 0px;
}
.project:hover {
  top: -4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.project .about {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 20px;
  min-height: 100px;
}
.project .about h3 {
  font-family: Lato, Roboto, sans-serif;
}
.project .about h3,
.project .about p {
  margin: 0px;
}
.project .links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: stretch;
      align-items: stretch;
  border-top: 1px solid #eee;
}
.project .links a {
  display: block;
  -ms-flex: 1;
      flex: 1;
  padding: 15px;
  text-decoration: none;
  color: inherit;
  border-right: 1px solid #eee;
}
.project .links a:last-child {
  border-right: none;
}
.project .links a:hover {
  color: #08f;
}
.page {
  padding: 50px 0px;
  background-color: #fff;
}
.document img {
  display: block;
  max-width: 100%;
  max-height: 520px;
  font-size: 0;
  margin: 0px auto;
  padding: 0px;
}
.document blockquote {
  display: block;
  padding: 30px;
  margin: 0px;
}
.document blockquote .quote {
  display: block;
  max-width: 780px;
  margin: 0px auto;
  font-size: 2.2em;
  text-align: center;
  font-family: Lato;
  font-weight: bold;
}
.document blockquote .attribution {
  display: block;
  color: #555;
  text-align: center;
  padding: 10px;
}
.document blockquote .attribution:before {
  content: '–';
  padding-right: 5px;
}
.document .content {
  padding: 30px 20px;
  max-width: 720px;
  margin: 0px auto;
}
.document .content h1 {
  margin: 0px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 2.4em;
  color: #012;
}
.document .content h2 {
  margin: 0px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 1.8em;
  color: #012;
}
.document .content p {
  color: #234;
  font-size: 1.3em;
  margin: 0px;
  padding-bottom: 1.5em;
}
.document .content p:last-child {
  padding-bottom: 0;
}
.document .content a {
  color: #08f;
  text-decoration: none;
}
.document .content ul,
.document .content ol {
  margin: 0;
  padding: 0;
}
.document .content li {
  padding: 0 0 1.5em 0;
}
.document .content ul li {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
}
.document .content ul li:before {
  content: '►';
  font-size: 1.3em;
  padding-right: 10px;
}
.talks {
  background-color: #fff;
  box-shadow: 0 0 5px #123;
  border: 4px dashed rgba(0, 0, 0, 0.2);
  transform: rotate(1deg);
  padding: 40px 40px 50px;
  margin: 40px -20px;
  position: relative;
  overflow: hidden;
}
.talks .slide-funk {
  z-index: -1;
  position: absolute;
  top: -40px;
  right: 0px;
  opacity: 0.1;
}
.talks-inner {
  transform: rotate(-1deg);
}
.talks-inner > p {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #345;
}
.talks-inner > p .offer {
  display: inline-block;
  background-color: #FFb700;
  color: #fff;
  padding: 3px 5px;
  margin: 0px 5px;
  font-size: 0.7em;
  border-radius: 2px;
  vertical-align: middle;
  white-space: nowrap;
}
.talks h2 {
  color: #111;
  font-size: 2em;
  font-family: Lato, Helvetica, sans-serif;
  text-align: center;
}
.talks .talk-list {
  list-style-type: none;
  margin: 0px auto;
  max-width: 640px;
  padding: 20px 0px;
  text-align: center;
}
.talks .talk-list .talk {
  padding: 20px 0px;
}
.talks .talk-list .talk h3 {
  margin: 0px;
  padding: 8px 5px;
}
.talks .talk-list .talk h3 a {
  font-size: 1.5em;
  font-family: Lato, Helvetica, sans-serif;
  text-decoration: none;
  color: #123;
  border-bottom: 2px solid #ddd;
  transition: all 0.25s linear;
}
.talks .talk-list .talk h3 a:hover {
  color: #000;
  border-bottom-color: #aaa;
}
.talks .talk-list .talk h3 a:after {
  content: '↗';
  font-size: 0.8em;
  margin-left: 3px;
  opacity: 0.8;
}
.talks .talk-list .talk p {
  margin: 0px;
  color: #444;
}
.contact {
  position: relative;
  max-width: 640px;
  margin: 0px auto;
  padding: 25px 20px;
}
.contact .cavebob {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 420px;
  max-width: 80%;
  opacity: 0.2;
}
@media (max-width: 480px) {
  .contact {
    font-size: 0.7em;
  }
}
.contact h2 {
  font-size: 2em;
  font-family: Lato, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 0 0 5px #234;
}
.contact h2 a {
  text-decoration: none;
  color: inherit;
}
.contact dt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #f4f4f4;
  font-size: 1.2em;
}
.contact dt .prefer {
  display: inline-block;
  background-color: #32ad64;
  color: #fff;
  padding: 3px 5px;
  margin: 0px 5px;
  font-size: 0.7em;
  border-radius: 2px;
  vertical-align: middle;
}
.contact dd {
  margin: 0px;
  padding-bottom: 1em;
}
.contact dd a {
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 0 5px #123;
  color: #08f;
  font-size: 1.5em;
  font-family: Lato, Helvetica, sans-serif;
  padding: 3px 0px;
  border-bottom: 2px solid #048;
  transition: all 0.25s linear;
}
.contact dd a:after {
  content: '↗';
  font-size: 0.8em;
  margin-left: 3px;
  opacity: 0.8;
}
.contact dd a:hover {
  color: #0af;
  border-color: #0af;
}
.big-quote {
  padding: 50px 20px;
  text-align: center;
  position: relative;
}
.big-quote h2 {
  color: #fff;
  text-decoration: 0 0 5px #234;
  margin: 0px;
  padding: 10px 0px;
  font-size: 1.6em;
  font-family: Lato, Helvetica, sans-serif;
}
.big-quote a {
  color: inherit;
  text-decoration: none;
}
.big-quote a:hover {
  text-decoration: underline;
}
.copyright {
  padding: 20px;
  margin-top: 0px;
}
.copyright p {
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  opacity: 0.5;
}

/*# sourceMappingURL=index.css.map */
